/*************************/
/*    Styling  Header    */
/*************************/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    overflow: hidden;
    padding: 20px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    font-family: 'Fredoka', sans-serif;
    background-color: #68b21b;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.logo{
    transition: 0.4s;
}
.nav-links{
    display:flex;
    justify-content: space-around;
    width: 45%;
    border-radius: 4px;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav-right {
  float: right;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  nav{
    padding: 10px 5px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  nav a {
    float: none;
    display: block;
    text-align: left;
  }
  nav-right {
    float: none;
  }
}

